<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/jpg" sizes="32x32" href="CV.jpg">
    <title>Event Show</title>


    <!-- icons links -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" referrerpolicy="no-referrer"
    />

    <!-- google-font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bree+Serif&family=Scheherazade+New:wght@700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Secular+One&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Kanit&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Acme&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Arvo:wght@700&display=swap" rel="stylesheet">

    <!-- google icons -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

    <!-- bootstrap links -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="css/styles.css">



</head>

<body class="wholeBody">

    <!-- NavBar -->
    <section>
        <header>
            <div id="NavBarSec" class="whole-header float-left col-lg-3 col-md-3">
                <div class="container">
                    <div class="user">
                        <!-- <img src="me.jpg" alt=""> -->
                        <h3 class="name">Event Show</h3>
                        <p class="name2">Glory Your Self By Participating</p>
                        <h6 class="text-light my-auto">
                            <i class="fas fa-user-tie fa-2x"></i>
                            <samp class="nameIndex">
                                <p>
                                    <%=userName%>
                                </p>
                            </samp>

                        </h6>
                    </div>

                    <nav class="navbar ">
                        <ul class="row">
                            <li class="liClsNavBar col-lg-11 border border-dark"><a class="navbarText" href="/">Home</a></li>
                            <li class="liClsNavBar col-lg-11 border border-dark"><a class="navbarText" href="/event">Events</a></li>
                            <li class="liClsNavBar col-lg-11 border border-dark"><a class="navbarText" href="/signin">Sign In</a></li>
                            <li class="liClsNavBar col-lg-11 border border-dark"><a class="navbarText" href="/admin">Admin</a></li>
                            <li class="liClsNavBar col-lg-11 border border-dark navbarBottom"><a class="navbarText" href="logout">Log Out</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </header>
    </section>


    <!-- MenuBar Icon -->
    <div id="Toggler" class="sticky-top upDiv text-right">
        <a href="#title-section">
            <i class="fas fa-2x fa-bars fa-1x text-warning BurgerIcon" type="button" data-toggle="modal" data-target="#signin-Modal"></i>
        </a>
    </div>

    <!-- Context Body -->
    <div class="row container-fluid">

        <!-- Context Body -->
        <div class="row container-fluid">

            <!-- Home -->
            <div class="col-lg-3"></div>
            <section class="home col-lg-9">

            </section>
        </div>


        <article>
            <div class="modal fade" id="signin-Modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <!-- Close -->
                        <div class="modal-header border-bottom-0">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
                        </button>
                        </div>

                        <!-- Context -->
                        <div class="modal-body">
                            <div class="container wholeModel">
                                <div class="text-center">

                                    <h3 class="name">Event Show</h3>
                                    <p>Glory Your Self By Participating</p>
                                    <h6 class="text-light my-auto">
                                        <i class="fas fa-user-tie fa-2x"></i>
                                        <samp class="nameIndex">
                                        sowbi
                                    </samp>
                                    </h6>
                                </div>

                                <div class="container ModelItems">
                                    <p data-dismiss="modal" aria-label="Close" class="border border-dark navbarTextModel " onclick="clickHome()">Home</p>
                                </div>
                                <div class="container ModelItems">
                                    <p data-dismiss="modal" aria-label="Close" class="border border-dark navbarTextModel " onclick="clickEvents()">Event</p>
                                </div>
                                <div class="container ModelItems">
                                    <p data-dismiss="modal" aria-label="Close" class="border border-dark navbarTextModel " onclick="clickSignin()">Sign In</p>
                                </div>
                                <div class="container ModelItems">
                                    <p data-dismiss="modal" aria-label="Close" class="border border-dark navbarTextModel " onclick="clickAdmin()">Admin</p>
                                </div>
                                <div class="container ModelItems">
                                    <a href="">
                                        <p data-dismiss="modal" aria-label="Close" class="border border-dark navbarTextModel ">Log Out</p>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
        </article>

        <!-- footer -->
        <!-- <div class="col-lg-3"></div>
        <footer class="col-lg-9" id="contact">
            <div class="text-center">

                <h5 class="contact">
                    <a href="#" target="_blank">
                        <i class="fab fa-github-square fa-2x contactIcons"></i>
                    </a>
                    <a href="mailto:sowbhakian.shansan@gmail.com" target="_blank">
                        <i class="fas fa-envelope fa-2x contactIcons"></i>
                    </a>
                    <a href="#" target="_blank">
                        <i class="fab fa-linkedin fa-2x contactIcons"></i>
                    </a>
                    <a href="#" target="_blank">
                        <i class="fab fa-instagram-square fa-2x contactIcons"></i>
                    </a>

                </h5>
                <span class="SowbiName">  <i class="far fa-copyright"></i>  Event Show</span>
            </div>
        </footer>
        </div> -->

        <!-- jQuery -->
        <script src='https://code.jquery.com/jquery-3.3.1.slim.min.js'></script>
        <!-- Popper JS -->
        <script src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js'></script>
        <!-- Bootstrap JS -->
        <script src='https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js'></script>
        <!-- <script src="animation.js"></script> -->
</body>

</html>