<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/jpg" sizes="32x32" href="CV.jpg">
    <title>Event Show</title>


    <!-- icons links -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" referrerpolicy="no-referrer"
    />

    <!-- google-font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bree+Serif&family=Scheherazade+New:wght@700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Secular+One&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Kanit&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Acme&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Arvo:wght@700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Neuton:wght@200&family=Playfair+Display&display=swap" rel="stylesheet">

    <!-- google icons -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

    <!-- bootstrap links -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="css/styles.css">

    <!-- animation -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" />

</head>

<body class="wholeBody" style="overflow-x: hidden;">

    <!-- NavBar -->
    <section>
        <header>
            <div id="NavBarSec" class="whole-header float-left col-lg-3 col-md-3">
                <div class="container">
                    <div class="user">
                        <!-- <img src="me.jpg" alt=""> -->
                        <h3 class="name">Event Show</h3>
                        <p class="name2">Glory Your Self By Participating</p>
                        <h6 class="text-light my-auto">
                            <i class="fas fa-user-tie fa-2x"></i>
                            <samp class="nameIndex">
                                <p>
                                    <% if(userName.length!=0){%>
                                    <%=userName%>
                                    <%}else{%>
                                        <%=AdminName%>
                                    <%}%>

                                </p>
                            </samp>

                        </h6>
                    </div>
                    <nav class="navbar ">
                        <ul class="row">
                            <li class="liClsNavBar col-lg-11 border border-dark nav-hover"><a class="navbarText" href="/">Home</a></li>
                            <% if(AdminName == "Admin"){%>
                                <li class="liClsNavBar col-lg-11 border border-dark nav-hover"><a class="navbarText" href="/adminEvent">Events</a></li>
                                <%}else{%>
                                    <li class="liClsNavBar col-lg-11 border border-dark nav-hover"><a class="navbarText" href="/event">Events</a></li>
                                    <%}%>

                                        <li class="liClsNavBar col-lg-11 border border-dark nav-hover"><a class="navbarText" href="/signin">Sign In</a></li>
                                        <li class="liClsNavBar col-lg-11 border border-dark nav-hover"><a class="navbarText" href="/adminEvent">Admin</a></li>
                                        <% if(AdminName == "Admin" || userName!=""){%>
                                            <li class="liClsNavBar col-lg-11 border border-dark navbarBottom nav-hover">
                                                <a class="navbarText" href="logout">Log Out</a></li>
                                            <% }else{%>
                                                <li class="liClsNavBar col-lg-11 border border-dark navbarBottom nav-hover">
                                                    <a class="navbarText" href="#contact">Contact</a></li>
                                                <% } %>
                        </ul>
                    </nav>
                </div>
            </div>
        </header>
    </section>


    <!-- MenuBar Icon -->
    <div id="Toggler" class="sticky-top upDiv text-right">
        <a href="#title-section">
            <i class="fas fa-2x fa-bars fa-1x text-warning BurgerIcon" type="button" data-toggle="modal" data-target="#signin-Modal"></i>
        </a>
    </div>

    <!-- Context Body -->

    <!-- Context Body -->
    <div class="row container-fluid">

        <!-- Home -->
        <div class="col-lg-3"></div>
        <section class="home col-lg-9 container-fluid" id="home">
            <div class="welcomeDiv">
                <h1 class=" text-center AllHeading"> <span class="QuaHead">GEAR UP FOR UPCOMING COLLEGE FESTIVALS | COLLEGE FESTS </span>
                    <i class="far fa-laugh-wink"></i>
                </h1>
                <div class="pl-5 pr-5">
                    <hr class="text-dark border border-1">
                </div>
            </div>
            <div class="home-student-div mt-5">
                <div class="row animate__animated animate__fadeInLeft">
                    <div class="col-lg-11">
                        <h3 class="home-student-head"><i class="fas fa-user-graduate home-icon-student mt-5 fa-2x"></i>Student :</h3>
                        <ul class="font-size-text">
                            <li><i class="fas fa-check-circle mr-2"></i>Students can view the upcoming events by registering.</li>
                            <li><i class="fas fa-check-circle mr-2"></i>Registration form is available for every event.</li>
                            <li><i class="fas fa-check-circle mr-2"></i>Students can view the events only after registering.</li>
                        </ul>
                    </div>
                    <!-- <div class="col-lg-1">
                                <i class="fas fa-user-graduate home-icon-student mt-5"></i>
                            </div> -->
                </div>
                <div class="row animate__animated animate__fadeInRight">
                    <div class="col-lg-11">
                        <h3 class="home-student-head"><i class="fas fa-user-shield home-icon-student mt-5 fa-2x"></i>Admin :</h3>
                        <ul class="font-size-text">
                            <li><i class="fas fa-check-circle mr-2"></i>Only admin can organize the event.</li>
                            <li><i class="fas fa-check-circle mr-2"></i>Events are visible to the users only after the admin has added the event</li>
                            <li><i class="fas fa-check-circle mr-2"></i>Only admin can view the event and registration.</li>
                        </ul>
                    </div>
                    <!-- <div class="col-lg-1">
                                <i class="fas fa-user-shield home-icon-student mt-5"></i>
                                <%=userName%>
                            </div> -->

                </div>
        </section>

        <!-- footer -->
        <div class="col-lg-3"></div>
        <footer class="col-lg-9" id="contact">
            <div class="text-center">

                <h5 class="contact">
                    <a href="mailto:sowbhakian.shansan@gmail.com" target="_blank">
                        <i class="fas fa-envelope fa-2x contactIcons"></i>
                    </a>
                    <a href="#" target="_blank">
                        <i class="fab fa-linkedin fa-2x contactIcons"></i>
                    </a>
                    <a href="#" target="_blank">
                        <i class="fab fa-instagram-square fa-2x contactIcons"></i>
                    </a>

                </h5>
                <span class="SowbiName">  <i class="far fa-copyright"></i>  Event Show</span>
            </div>
        </footer>
        </div>

        <!-- Menu Burgger -->
        <article>
            <div class="modal fade" id="signin-Modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <!-- Close -->
                        <div class="modal-header border-bottom-0">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
                            </button>
                        </div>

                        <!-- Context -->
                        <div class="modal-body">
                            <div class="container wholeModel">
                                <div class="text-center">

                                    <h3 class="name">Event Show</h3>
                                    <p>Glory Your Self By Participating</p>
                                    <h6 class="text-light my-auto">
                                        <i class="fas fa-user-tie fa-2x"></i>
                                        <samp class="nameIndex">
                                    <%=userName%>
                                        </samp>
                                    </h6>
                                </div>

                                <div class="container ModelItems">
                                    <p class="border border-dark navbarTextModel "><a class="navbarText" href="/">Home</a></p>
                                </div>
                                <div class="container ModelItems">
                                    <p class="border border-dark navbarTextModel "><a class="navbarText" href="/event">Events</a></p>
                                </div>
                                <div class="container ModelItems">
                                    <p class="border border-dark navbarTextModel "><a class="navbarText" href="/signin">Sign In</a></p>
                                </div>
                                <div class="container ModelItems">
                                    <p class="border border-dark navbarTextModel "><a class="navbarText" href="/adminEvent">Admin</a></p>
                                </div>
                                <% if(AdminName == "Admin" || userName!=""){%>
                                    <div class="container ModelItems">
                                        <a href="">
                                            <p class="border border-dark navbarTextModel "><a class="navbarText" href="logout">Log Out</a></p>
                                        </a>
                                    </div>
                                    <% } else {%>
                                        <div class="container ModelItems">
                                            <a href="">
                                                <p class="border border-dark navbarTextModel "><a class="navbarText" href="logout">Contact</a></p>
                                            </a>
                                        </div>

                                        <% } %>
                            </div>
                        </div>
                    </div>
                </div>
        </article>


        <!-- jQuery -->
        <script src='https://code.jquery.com/jquery-3.3.1.slim.min.js'></script>
        <!-- Popper JS -->
        <script src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js'></script>
        <!-- Bootstrap JS -->
        <script src='https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js'></script>
        <!-- <script src="animation.js"></script> -->
</body>

</html>